@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/index";

.c-data {
  .container {
    position: relative;
  }
  .modal-window {
    position: fixed;
    top: 200px;
    margin-left: 50%;
    left: -150px;
    background-color: black;
    color: white;
    display: block;
    width: 300px;
    padding: 40px;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
    button {
      background-color: $main;
      color: black;
      &:hover {
        background-color: white;
      }
    }
  }
  h2 {
    margin-bottom: 25px;
  }
  .table-wrapper {
    display: block;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    .table-wrapper {
      @media #{$mobile} {
        max-width: 100%;
        overflow-x: scroll;
      }
    }
  }
  table {
    @media #{$phone} {
      width: 700px;
    }
    tr {
      .remove {
        visibility: hidden;
        color: $main;
        cursor: pointer;
        pointer-events: none;
      }
      &:hover {
        .remove {
          visibility: visible;
          pointer-events: auto;
        }
      }
    }
    th {
      font-weight: 700;
      text-align: left;
      padding-right: 5px;
    }
    td {
      padding: 20px 10px 20px 0;
      vertical-align: top;
      position: relative;
      &:nth-of-type(2) {
        min-width: 100px;
      }
      &:nth-of-type(6) {
        padding-right: 30px;
      }
    }
  }
  form {
    fieldset {
      display: inline-block;
      vertical-align: baseline;
      @media #{$tablet} {
        display: block;
        margin-bottom: 5px;
      }
      label {
        width: auto;
        @media #{$tablet} {
          width: 100px;
          display: inline-block;
        }
      }
      &.textarea-field {
        display: block;
        margin-top: 20px;
        label {
          display: block;
        }
        textarea {
          height: 200px;
          width: 100%;
          resize: none;
          vertical-align: baseline;
        }
      }
      input[type=text], select {
        width: 200px;
        height: 50px;
      }
    }
    button {
      background-color: $main;
      color: black;
      border: 1px solid $main;
      &:hover {
        border-color: black;
      }
    }
  }
}
