@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/index";

.c-header {
  display: block;
  background-color: black;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  .menu li {
    display: inline-block;
    padding: 0 20px;
    &:first-of-type {
      padding-left: 0;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover, &.active {
        color: $main;
      }
      &.empty {
        color: $background;
        cursor: default;
        opacity: 0.4;
      }
    }
  }
}
